{% extends "base.html" %}

{% block content %}
<div id="content" class="content">
        <h2>URL Patterns</h2>

        <h3>Tags</h3>
        <p>Das Filtern von Events nach einem einzelnen Tag ist für die Webseite, sowie den iCal- und 
        RSS-Feed möglich:
            <ul>
                <li>Alle zukünftigen Events:
                    <ul>
                        <li>Webseite:
                            <a href="http://www.techism.de/events/">http://www.techism.de/events/</a>
                        </li>
                        <li>iCal:
                            <a href="http://www.techism.de/feed.ics">http://www.techism.de/feed.ics</a>
                        </li>
                        <li>RSS: 
                            <a href="http://www.techism.de/feeds/atom/upcomming_events">http://www.techism.de/feeds/atom/upcomming_events</a>
                        </li>
                    </ul>
                </li>
                <li>Zukünftige Events gefiltert nach Tag:
                    <ul>
                        <li>Webseite:
                            <a href="http://www.techism.de/events/tags/javascript/">http://www.techism.de/events/tags/javascript/</a>
                        </li>
                        <li>iCal:
                            <a href="http://www.techism.de/ical/tags/javascript/feed.ics">http://www.techism.de/feed.ics</a>
                        </li>
                        <li>RSS:
                            <a href="http://www.techism.de/feeds/atom/tags/javascript/upcomming_events">http://www.techism.de/feeds/atom/tags/javascript/upcomming_events</a>
                        </li>
                    </ul>
                </li>
                
                
            </ul>
        </p>

        <h3>Datum</h3>
        <p>Auf der Webseite lassen sich die Events darüber hinaus nach Datum filtern, z.B.:
            <ul>
                <li><a href="http://www.techism.de/events/2013/">http://www.techism.de/events/2013/</a></li>
                <li><a href="http://www.techism.de/events/2013/tags/javascript/">http://www.techism.de/events/2013/tags/javascript/</a></li>
                <li><a href="http://www.techism.de/events/2013/04/">http://www.techism.de/events/2013/04/</a></li>
                <li><a href="http://www.techism.de/events/2013/04/11/">http://www.techism.de/events/2013/04/11/</a></li>
            </ul>
        </p>

        <hr>

        <h2>Über uns</h2>

        <h3>Warum</h3>
        <p>Weil wir gerne wissen möchten was geht, wo man sich
            einklinken kann, wo man Leute treffen kann, die mit dem
            selben Themen Ihre Zeit verschwenden. Weil wir gerne einen
            Eventkalender mit DIY und Community Events in unserer Nähe
            hätten und eine Übersicht an Gruppen und Usergroups, die
            sich freuen wenn man mal vorbeischaut. Wir interessieren uns
            v.a. für Softwareentwicklung, IT Innovationen und alle möglichen
            Nerdthemen.</p>

        <h3>Wer</h3>
        <p>Christine Koppelt, Stefan Seelmann, Bernd Plontsch, Nils
            Hitze, Andreas Hubel</p>

        <h3>Ehemalige</h3>
        <p>Gordon Franke</p>

        <h3>Technische Umsetzung</h3>
        <p>
            Programmierung - Christine, Stefan <br> Design - Bernd
            <br> Projekt bei Github <a
                href="https://github.com/techism/techism">hier</a>.
        </p>

        <h3>Kontakt</h3>
        <p>
            Wir freuen uns immer über Feedback, Anregungen, Forks und
            Leute, die Lust haben mitzumachen. Erreichen kannst du uns
            am besten via <a href="http://twitter.com/#!/techism">Twitter</a>
            oder <a href="mailto:team@techism.de">Mail</a>.
        </p>
</div>
{% endblock %}
