{% extends "base.html" %}

{% block head %}
    <title>Techism - Events, Projekte, User Groups in München!</title>
    <meta name="description" content="Techism - Events, Projekte, User Groups in München" />
    <meta name="keywords" content="techism, event, projekte, user groups, münchen" />
{% endblock %}

{% block content %}


<section id="content">
    <section class="content">
        <h2>Über uns</h2>

        <h3>Warum</h3>
        <p>Weil wir gerne wissen möchten was geht, wo man sich
            einklinken kann, wo man Leute treffen kann, die mit dem
            selben Themen Ihre Zeit verschwenden. Weil wir gerne einen
            Eventkalender mit DIY und Community Events in unserer Nähe
            hätten und eine Übersicht an Gruppen und Usergroups, die
            sich freuen wenn man mal vorbeischaut. Wir interessieren uns
            v.a. für IT Innovation, Digitale Kultur und alle möglichen
            Nerdthemen.</p>

        <h3>Wer</h3>
        <p>Christine Koppelt, Stefan Seelmann, Bernd Plontsch, Nils
            Hitze, Andreas Hubel, Gordon Franke</p>

        <h3>Technische Umsetzung</h3>
        <p>
            Programmierung - Christine, Stefan <br> Design - Bernd
            <br> Projekt bei Github <a
                href="https://github.com/techism/techism">hier</a>.
        </p>

        <h3>Kontakt</h3>
        <p>
            Wir freuen uns immer über Feedback, Anregungen, Forks und
            Leute, die Lust haben mitzumachen. Erreichen kannst du uns
            am besten via <a href="http://twitter.com/#!/techism">Twitter</a>
            oder <a href="mailto:team@techism.de">Mail</a>.
        </p>
    </section>
</section>

{% endblock %}
