{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=480, height=640, user-scalable=yes" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
    <title>Techism - Events, Projekte, User Groups in München!</title>
    <meta name="description" content="Techism - Events, Projekte, User Groups in München" />
    <meta name="keywords" content="techism, event, projekte, user groups, münchen" />
    {% block head %}{% endblock %}
</head>

<body>
    <section id="top">
        <nav>
            <div>
                <ul>
                    <li><a href="/"><img width="105" height="33"
                            src="{% static 'images/techism_logo_05.png' %}" alt="Techism">
                    </a></li>
                </ul>
            </div>
        </nav>
    </section>

    {% block content %}{% endblock %}
    <footer>
        <div id="twocol">
            <div id="left">
                <ul>
                    <li><a href="/impressum/">Impressum</a></li>
                    <li><a href="/about/">Über uns</a></li>
                </ul>
            </div>
            <div id="right">
                <ul>
                    <li><a href="http://twitter.com/techism">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% block scripts %} {% endblock %}
</body>
</html>
