{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=480, height=640, user-scalable=yes" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
    <title>Techism - Events, Projekte, User Groups in München!</title>
    <meta name="description" content="Techism - Events, Projekte, User Groups in München" />
    <meta name="keywords" content="techism, event, projekte, user groups, münchen" />
    {% block head %}{% endblock %}
</head>

<body>
    <section id="top">
        <nav>
            <div>
                <ul>
                    <li><a href="/"><img width="105" height="33" src="{% static 'images/techism_logo_05.png' %}" alt="Techism">
                    <li{% if '/events/' in request.path or '/' == request.path %} id="active"{% endif %}><a href="/events/">Events</a></li> 
                    <li id="add"><a href="/events/create/">+</a></li>
                    <li{% if '/orgs/' in request.path %} id="active"{% endif %}><a href="/orgs/">Gruppen</a></li>
                    </a></li>
                </ul>
            </div>
        </nav>
    </section>

    {% block content %}{% endblock %}
    <footer>
        <div id="twocol">
            <div id="left">
                <ul>
                    <li><a href="/impressum/">Impressum</a></li>
                    <li><a href="/about/">Über uns</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li><a href="/admin/">Admin</a></li> 
                        {% endif %}
                        <li><a href="/accounts/logout/">Logout</a></li> 
                    {% else %}
                        <li><a href="/accounts/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="right">
                <ul>
                    <li><a href="/feed.ics">iCal</a></li>
                    <li><a href="/feeds/atom/upcomming_events">RSS</a></li>
                    <li><a href="http://twitter.com/techism">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/techism.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
    {% block scripts %} {% endblock %}
</body>
</html>
