{% extends "base.html" %}

{% block content %}
<div id="content" class="content">
        <h2>Impressum</h2>
        <p>
            Techism<br>
            c/o Bernd Plontsch (V.i.S.d. MDStV HH)<br>
            Reutterstr. 82<br>
            80689 München<br>
        </p>
        <p>team[at]techism.de</p>

        <h3>Haftungshinweis</h3>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich
            keine Haftung für die Inhalte externer Links. Für den Inhalt
            der verlinkten Seiten sind ausschließlich deren Betreiber
            verantwortlich.</p>
</div>
{% endblock %}
