header, footer, nav { display: block; }
body {
  padding: 0;
  margin: 0 auto;
  width: 95%;
  height: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000000;
  background: #232323 url("../images/bg_noise.gif") repeat;
}
#admin {
  background-color: #ffffff;
  opacity: 0.3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}
#active a {
  color: #99e600;
  text-decoration: none;
}
nav ul {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-top: 20px;
}
nav ul li {
  font-size: 28px;
  font-weight: normal;
  list-style: none;
  margin-right: 5px;
  display: inline;
}
nav ul a {
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  margin-right: 5px;
  display: inline;
  text-decoration: none;
}
nav ul li {
  text-decoration: none;
  color: #bbbbbb;
}
nav ul a:hover {
  text-decoration: none;
  color: #bbbbbb;
}
nav ul item {
  padding: 15px;
  margin: 15px;
}
#add {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left 28, left bottom, from(#ffffff), to(#797979));
  background: -moz-linear-gradient(top, #ffffff 28px, #797979);
  height: 45px;
}
#add a {
  margin-right: 0px;
  color: #000000;
  font-weight: bold;
  padding: 0 10px;
}
a {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}
.vevent .detail a {
	font-size: 15px;
}
a img { border: 0; }
a:hover { text-decoration: underline; }
h1 {
  font-size: 24px;
  margin: 0px;
}
h1 a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}
h1 a:hover { text-decoration: underline; }
h2 {
  font-size: 24px;
  line-height: 44px;
  display: inline;
}
h2 a {
  text-decoration: none;
  color: #000000;
}
h2 .next { color: #999999; }
h3 {
  font-size: 20px;
  line-height: 0;
}
#what p { margin-bottom: 5px; }
#edit {
  background: #e2e2e2;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px;
}
#tagcloud {
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 35px;
  clear: both;
}
#tagcloud a {
  background: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid grey;
  white-space: nowrap;

}

#tagcloud a:hover { color: #99e600; }
#tagcloud .selected { color: #99e600; }
.tags a {
  background:#efefef;
  color: #999;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 40px;
}
.tags a:hover { color: #99e600;background:#fff;border: 1px solid #efefef; }
.tags .selected { color: #99e600; background:#fff;border: 1px solid #efefef;  }
#top li a img { opacity: 0.5; }
#top a:hover img { opacity: 0.7; }
#top #logo { display: inline; }
#top div { display: inline; }
footer {
  margin: 15px;
  size: 15px;
}
footer ul { margin-bottom: 8px; }
footer ul li { margin-right: 10px; }
#content {
  background: #ffffff;
  border-radius: 5px;
  color: #000000;
  overflow: hidden;
}
.vevent {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #ececec;
  padding: 10px 15px 10px 15px;
  display: block;
}
.vevent h2 { font-size: 24px; }
.vevent header {
  display: table;
  border-collapse: collapse;
  cursor: pointer;
}
.vevent .header-content { display: table-row; }
.vevent .title { display: table-cell; }
.vevent .edit { display: table-cell; }
.vevent .show { display: table-cell; }
.vevent .date { display: table-cell; }
.vevent .title { width: 100%; }
.vevent .edit {
  padding-right: 5px;
  width: 100px;
}
.vevent .show {
  padding-right: 5px;
  width: 100px;
}
.vevent .date {
  width: 100px;
  white-space: nowrap;
}
.vevent:first-child { border-top: none; }
.vevent:last-child { border-bottom: none; }
.dtstart, .dtend { display: none; }
.box {
  display: box;
  border-radius: 5px;
  padding: 3px;
  margin-left: 5px;
}
#twocol a {
  font-weight: normal;
  color: #ffffff;
}
#twocol ul { padding-left: 0px; }
#twocol li {
  list-style: none;
  display: inline;
}
#twocol #left { float: left; }
#twocol #right { float: right; }
.last { border-bottom: 0px; }
#create ul { list-style-type: none; }
.content { padding: 5px 15px; }
.content h3 { margin-top: 55px; }
#message {
  margin-top: 5px;
  border-bottom: 1px dotted #646464;
  padding: 15px;
}
#message ul { padding-left: 25px; }
#message li {
  list-style: disc;
  margin-left: 0px;
}
#message p { margin-bottom: 0px; }
#message.bottom { border-bottom: none; }
.errorlist {
  color: #99e600;
  background: #424242;
  border-radius: 5px;
  padding: 5px;
}
label {
  width: 130px;
  display: inline;
  padding: 5px;
}
.row {
  margin: 0 auto;
  max-width: 500px;
}
.form label {
  margin-left: 10px;
  color: #999999;
}
input, textarea {
  padding: 9px;
  border: solid 1px #e5e5e5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
textarea {
  width: 90%;
  height: 150px;
  line-height: 150%;
}
#shortform input {
  width: 100px;
  margin-right: 10px;
}
input:hover, textarea:hover {
  border-color: #c9c9c9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

input:focus, textarea:focus {
  border-color: #c9c9c9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.submit input {
  width: auto;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left 25, from(#ffffff), color-stop(4%, #eeeeee), to(#d8d8d8));
}
.canceled { text-decoration: line-through; }
.organizations { 
  max-width:400px;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 15px 10px 15px;
  float:left;
  margin: 0px 5px 10px 5px;
  border-radius: 5px;
  word-wrap:break-word;
}
.more {
  max-width:100%;
}

.description {
   margin: 0 0 .5em 0;
}

#calendar {
  float:right;
  display:block; 
  padding-left: 10px; 
  border-radius: 5px;"
}

@media screen and (max-width: 1000px) {
  #calendar {
    display: none;
  }
}

#calendar a {
  color: #ffffff;
  text-decoration: none;
}

#calendar .month {
  float:left;
  padding: 4px;
}

#calendar .line {
  clear:left;
  height: 133px;
  overflow: hidden;
}

#calendar .month_title_link {
  font-weight: bold;
}

#calendar .month > a, #calendar .month > label {
  display: block;
  float: left;
  width: 24px;
  text-align: center;
  font-weight: normal;
  padding: 0px;
}
#calendar .day_weekend {
  color: grey;
}
#calendar a.selected {
  font-weight: bold;
  color: #99e600;
}
#calendar a.today {
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
}
#calendar a.today_selected {
  font-weight: bold;
  background-color: #ffffff;
  color: #99e600;
}
#calendar a:hover { color: #99e600; }
