{% load staticfiles %}
{% load web_tags %}
{% load tz %}
<article class="vevent">
    <header>
        <section class="header-content">
            <div class="title">
                <h2 class="summary">
                    {% if event.canceled %}[Abgesagt] {% endif %}<a id="{{ event.id }}_event"{% if event.canceled %} class="canceled"{% endif %} href="#event">{{ event.title }}</a>
                </h2>
            </div>
            {% if event.user == user or user.is_superuser %}
                <div class="edit"> 
                    <div class="box">
                        <a href="/events/edit/{{ event.id }}/">Ändern</a>
                        <a href="/events/cancel/{{ event.id }}/">Absagen</a>
                        <a href="/events/create/{{ event.id }}/">Kopieren</a>
                    </div>
                </div>
            {% endif %}
            <div class="date">
                <div class="box">{{ event.date_time_begin|display_date }}</div>
            </div>
            {% if event.get_number_of_days > 1 %}
            <div class="date">
                <div class="box">{{ event.get_number_of_days }} Tage</div>
            </div>
            {% endif %}
        </section>
    </header>
    <section class="detail{% if event.canceled %} canceled{% endif %}">
        <section>
            <a class="url" href="{{ event.get_absolute_url }}"><img src="{% static 'images/world_link.png' %}">
                Permalink</a>
        </section>

        <section class="what">
            <h3>Was</h3>
            <div class="description">{{ event.description|linebreaks }}</div>
            <p>
                <a target="_blank" href="{{ event.url }}"><img src="{% static 'images/world_link.png' %}">
                    Webseite des Veranstalters</a>
            </p>
            <p class="ical">
                <a href="/ical/{{ event.id }}.ics"><img src="{% static 'images/date.png' %}"> iCal Export</a><br />
                <a href="webcal://{{ hostname }}/ical/{{ event.id }}.ics"> <img src="{% static 'images/date.png' %}">
                    WebCal
                </a>
            </p>
            <p class="tags">
                {% for tag in event.tags.all %}
                    <a {% ifequal tag_name tag.name %}class="selected"{% endifequal %} href="/events/tags/{{ tag.name }}/">{{ tag.name }}</a>
                {% endfor %}
            </p>
        </section>
        <section class="when">
            <h3>Wann</h3>
            <div class="date">
                <div class="dtstart">{{ event.date_time_begin|date:"c" }}</div>
                {{ event.date_time_begin|display_date }}

                {% if event.date_time_end %} bis
                  <div class="dtend"> {{ event.date_time_end|date:"c" }}</div>
                    {% if event.date_time_begin|localtime|date:"YMd" != event.date_time_end|localtime|date:"YMd" %}
                      {{ event.date_time_end|display_date }}
                    {% else %}
                       {{ event.date_time_end|time:"H:i" }}
                    {% endif %}
                {% endif %}
            </div>
        </section>
        <section class="where" id="event{{ event.id }}">
            {% if event.location.name and event.location.street and event.location.city %}
            <h3>Wo</h3>
            <div class="location">{{event.location.name}}, {{event.location.street}}, {{event.location.city}}</div>
            <p>
            <a href="http://www.openstreetmap.org/?mlat={{event.location.latitude|urlencode}}&mlon={{event.location.longitude|urlencode}}&zoom=17">
                <img src="{% static 'images/osm.png' %}"> Location in OpenStreetMap anzeigen</a><br> 
            <a href="http://maps.google.de/maps?q={{event.location.latitude|urlencode}},{{event.location.longitude|urlencode}} ({{event.location.street|urlencode}}, {{event.location.city|urlencode}})&z=17">
                <img src="{% static 'images/googlemaps.png' %}"> Location in Google Maps anzeigen</a><br>
            </p>
            {% endif %}
        </section>
    </section>
</article>
