{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
    <script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <script src="{% static 'js/events/details.js' %}"></script>
{% endblock %}

{% block content %}
<section id="content">
    {% if event.published %}
        {% include "events/_event_details.html" %}
    {% else %}
    <article class="event">
        <section class="detail">
            <h3>Dieses Event ist noch nicht veröffentlicht.</h3>
            <p class="description">Neue Events werden erst nach einem Review freigeschaltet - leider nötig um
                "Spam"-Listungen zu vermeiden.</p>
        </section>
    </article>
    {% endif %}
</section>

{% include "events/_tagcloud.html" %}

{% endblock %}
