{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'leaflet-0.4.5/leaflet.css' %}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'leaflet-0.4.5/leaflet.ie.css' %}" />
    <![endif]-->
{% endblock %}

{% block content %}
<section id="content">
    {% if event.published %}
        {% include "events/_event_details.html" %}
    {% else %}
    <article class="vevent">
        <section class="detail">
            <h3>Dieses Event ist noch nicht veröffentlicht.</h3>
            <p class="description">Neue Events werden erst nach einem Review freigeschaltet.</p>
        </section>
    </article>
    {% endif %}
</section>

{% include "events/_tagcloud.html" %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'leaflet-0.4.5/leaflet.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <script src="{% static 'js/events/details.js' %}"></script>
{% endblock %}