{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'leaflet-0.4.5/leaflet.css' %}" type="text/css"/>
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'leaflet-0.4.5/leaflet.ie.css' %}" />
    <![endif]-->
{% endblock %}

{% block content %}
<section id="content">
    {% if event_list %}
        {% for event in event_list %} 
            {% include "events/_event_details.html" %}
        {% endfor %}   
        {% if event_list.has_next %}
            <article class="vevent" id="more">
              <header>
               <h2>
                   {% if event_list.has_next %}
                       <a href="?page={{ event_list.next_page_number }}" class="next">Mehr</a>
                   {% endif %} 
               </h2>
              </header>
            </article>
        {% endif %}
    {% else %}
        <article class="vevent">
            <section>
                <p>No events are available.</p>
            </section>
        </article>
    {% endif %}  
</section>

{% include "events/_tagcloud.html" %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'leaflet-0.4.5/leaflet.js' %}"></script>
    <script src="{% static 'jquery-infinitescroll-1.5.100504/jquery-infinitescroll-1.5.100504.min.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <script src="{% static 'js/events/index.js' %}"></script>
{% endblock %}
