SHELL=/bin/bash
*/5 * * * * cd /var/www/techism && source venv/bin/activate && export DJANGO_SETTINGS_MODULE="techism.settings.server" && ./manage.py sendtwitter
20 */4 * * * cd /var/www/techism && source venv/bin/activate && export DJANGO_SETTINGS_MODULE="techism.settings.server" && ./manage.py sendtwitter_long
55 5 * * * cd /var/www/techism && source venv/bin/activate && export DJANGO_SETTINGS_MODULE="techism.settings.server" && ./manage.py event_export_csv

