{% extends "base.html" %}

{% block head %}
    <title>Techism - {{ tag_name|default:'Events, Projekte, User Groups in München!' }}</title>
    <meta name="description" content="Techism - {{ tag_name|default:'Events, Projekte, User Groups in München!' }}" />
    <meta name="keywords" content="techism, event, projekte, user groups, münchen{% if tag_name %}, {{ tag_name|lower }}{% endif %}" />
{% endblock %}

{% block content %}
<section id="content">
    {% if organization_list %}
        {% for organization in organization_list %}
            <div class="organizations" >
                <h2>{{ organization.title }}</h2>
                <p class="description">
                    <a target="_blank" href="{{ organization.url }}">{{ organization.url }}</a>
                </p>
                <p class="tags">
                          {% for tag in organization.tags.all %}  
                                <a href="/orgs/tags/{{ tag.name }}">{{ tag.name }}</a>
                          {% endfor %}
                </p>
             </div>
        {% endfor %}   
    {% else %}
        <section class="content">
            <p>Keine Organisationen hinterlegt.</p>
        </section>
    {% endif %} 
</section>

{% include "organizations/_tagcloud.html" %}

{% endblock %}
