{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <title>Techism - {{ tag_name|default:'Events, Projekte, User Groups in München!' }}</title>
    <meta name="description" content="Techism - {{ tag_name|default:'Events, Projekte, User Groups in München!' }}" />
    <meta name="keywords" content="techism, event, projekte, user groups, münchen{% if tag_name %}, {{ tag_name|lower }}{% endif %}" />
{% endblock %}

{% block content %}
{% if organization_list %}
    <div id="contentorganizations">
        {% for organization in organization_list %}
            <div class="organizations" >
                <h2>{{ organization.title }}</h2>
                <p class="description">
                    {{ organization.description }}
                </p>
                <p class="description">
                    <a target="_blank" href="{{ organization.url }}">{{ organization.url }}</a>
                </p>
                <p class="tags">
                          {% for tag in organization.tags.all %}  
                                <a {% ifequal tag_name tag.name %}class="selected"{% endifequal %} href="/orgs/tags/{{ tag.name }}/">{{ tag.name }}</a>
                          {% endfor %}
                </p>
             </div>
        {% endfor %}   
        {% if organization_list.has_next %}
            <div class="organizations more" id="more">
                <header>
                    <h2>
                        <a href="?page={{ organization_list.next_page_number }}" class="next">Mehr</a>
                    </h2>
                </header>
            </div>
        {% endif %}
    </div>
{% else %}
    <div id="content">
        <div class="content">
            <p>Keine Organisationen hinterlegt.</p>
        </div>
    </div>
{% endif %} 
    

{% include "organizations/_tagcloud.html" %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/organizations/index.js' %}"></script>
    <script src="{% static 'jquery-masonry-2.1.06/jquery.masonry.min.js' %}"></script>
    <script src="{% static 'jquery-infinitescroll-1.5.100504/jquery-infinitescroll-1.5.100504.min.js' %}"></script>
{% endblock %}
